.theme-light {
  position: relative;
  background-color: rgb(255, 255, 255) !important;
  color: black;
  z-index: 0 !important;
}

.theme-dark {
  background-color: black;
  color: white;
  z-index: -2 !important;
}

/* CSS styles for the light theme in Portfolio */
.light-theme {
  position: fixed;
  z-index: 0 !important;
  width: 100vw;
  height: 100vh;
  background: url("./../../assets/stars-12673.gif") no-repeat center center
    fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
.settings {
  position: relative;
  z-index: 1 !important;
}
.btn-icon {
  background-color: transparent;
  border: none;
  color: gray !important;
  font-size: 2rem !important;
  padding: 10px;
  transition: color 0.3s ease, transform 0.3s ease;
}

.btn-icon:hover {
  transform: scale(1.2);
}

.btn-icon:active {
  transform: scale(1);
}

/* CSS styles for the dark theme in Portfolio */
#tsparticles {
  position: fixed !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  width: 100% !important;
  z-index: 0 !important;
}
