:root {
  --primary-color: hsl(204, 87%, 53%);
  --secondary-color: #292929;
  --third-color: #37c73c;
  --text-color: #ffffff;
  --text-color-dark: #ffffff;

  --background-color: #ecf0f1;
  --background-color-dark: #1a1a1a;
  --error-color: #e74c3c;
}
