.navbar {
  position: sticky !important;
  background-color: var(--secondary-color);
  z-index: 10 !important;
}

.navbar a {
  color: var(--text-color) !important;
  text-decoration: none;
  margin-right: 1rem;
  font-weight: 500;
}

.navbar-toggler-icon {
  color: #fff !important;
  border-radius: 5px !important;
  font-size: 1.5rem !important;
  cursor: pointer !important;
}

.navbar a:hover {
  text-decoration: underline;
}

.logo {
  width: 50px;
  height: 50px;
}

@media (min-width: 765px) {
  .nav-item {
    margin: auto !important;
  }
}
